.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  margin-top: 5px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1f5156;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.toggle-container p {
  margin-right: 10px;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: #1f5156;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-button:focus {
  outline: none;
}
